{% extends 'furnfactshop/layout.html' %}

{% block urlContent %}
<div class="features">
    <h1>Мебель</h1>
    <p>
        {% for m in mebels %}
        <div class="alert">
            <h3>Товар: {{ m.name }}, код: {{ m.code }}</h3>
            <p>Модель: {{ m.model }}, вид: {{ m.species }}</p>
            <p>Цена: {{ m.price }}</p>
            <p>В производстве: {{ m.isSelling }}</p>
            <img src="{{ m.image.url }}"></img><br><br>
            <a href="{% url 'edit_mebel' m.id %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'delete_mebel' m.id %}" class="btn btn-danger">Удалить</a>
        </div>
        {% endfor %}
    </p>
</div>
{% endblock %}

{% block title %}Мебель{% endblock %}
